n8n/workflows/lead-capture.json
{
  "name": "AutoBot360 - Lead Capture",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/internal/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "X-Tenant-Id", "value": "={{ $json.tenantId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "create-lead",
      "name": "Create Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/internal/pubsub/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"eventType\": \"lead.captured\", \"tenantId\": \"{{ $('Execute Workflow Trigger').item.json.tenantId }}\", \"payload\": {{ JSON.stringify($json) }} }"
      },
      "id": "event",
      "name": "Publish lead.captured",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Create Lead", "type": "main", "index": 0 }]] },
    "Create Lead": { "main": [[{ "node": "Publish lead.captured", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "autobot360" }, { "name": "sub-workflow" }]
}
