n8n/workflows/razorpay-payment.json
{
  "name": "AutoBot360 - Razorpay Payment",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "razorpay-payment", "responseMode": "responseNode" },
      "id": "webhook",
      "name": "Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "razorpay-payment"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst payload = body.payload || body;\nreturn [{ json: { tenantId: body.tenantId, payload, idempotencyKey: body.idempotencyKey || payload.razorpayPaymentId } }];"
      },
      "id": "normalize",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/internal/idempotency/check",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }] },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $json.idempotencyKey }}" },
            { "name": "ttlHours", "value": "24" }
          ]
        }
      },
      "id": "idempotency",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/internal/payments/{{ $('Normalize Event').item.json.payload.paymentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "X-Tenant-Id", "value": "={{ $('Normalize Event').item.json.tenantId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"captured\", \"razorpayPaymentId\": \"{{ $('Normalize Event').item.json.payload.razorpayPaymentId }}\" }"
      },
      "id": "update-payment",
      "name": "Update Payment Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": { "workflowId": "={{ $env.ORDER_CREATION_WORKFLOW_ID }}" },
      "id": "order-creation",
      "name": "Order Creation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"paymentId\": \"{{ $('Normalize Event').item.json.payload.paymentId }}\" }"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Payment Webhook": { "main": [[{ "node": "Normalize Event", "type": "main", "index": 0 }]] },
    "Normalize Event": { "main": [[{ "node": "Idempotency Check", "type": "main", "index": 0 }]] },
    "Idempotency Check": { "main": [[{ "node": "Update Payment Status", "type": "main", "index": 0 }]] },
    "Update Payment Status": { "main": [[{ "node": "Order Creation", "type": "main", "index": 0 }]] },
    "Order Creation": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "autobot360" }, { "name": "payment" }]
}
