n8n/workflows/scheduled-post.json
{
  "name": "AutoBot360 - Scheduled Post",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 1 }] } },
      "id": "cron",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/internal/scheduled-posts/due?limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        }
      },
      "id": "fetch-due",
      "name": "Fetch Due Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": { "batchSize": 1 },
      "id": "loop",
      "name": "Loop Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://localhost:5678' }}/webhook/publish-product",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Webhook-Secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" },
            { "name": "X-Tenant-Id", "value": "={{ $json.tenantId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"eventType\": \"publish.requested\", \"tenantId\": \"{{ $json.tenantId }}\", \"payload\": {{ JSON.stringify($json) }}, \"idempotencyKey\": \"publish_{{ $json.id }}_{{ $now.toISO() }}\" }"
      },
      "id": "trigger-publish",
      "name": "Trigger Publish Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Every Minute": { "main": [[{ "node": "Fetch Due Posts", "type": "main", "index": 0 }]] },
    "Fetch Due Posts": { "main": [[{ "node": "Loop Posts", "type": "main", "index": 0 }]] },
    "Loop Posts": { "main": [[{ "node": "Trigger Publish Product", "type": "main", "index": 0 }]] },
    "Trigger Publish Product": { "main": [[{ "node": "Loop Posts", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "autobot360" }, { "name": "scheduler" }]
}
