n8n/workflows/token-refresh.json
{
  "name": "AutoBot360 - Token Refresh",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "token-refresh", "responseMode": "responseNode" },
      "id": "webhook",
      "name": "Token Refresh Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "token-refresh"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/internal/social-accounts/expiring",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "X-Tenant-Id", "value": "={{ $json.body.tenantId }}" }
          ]
        }
      },
      "id": "fetch-accounts",
      "name": "Fetch Expiring Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": { "batchSize": 1 },
      "id": "loop",
      "name": "Loop Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/internal/social-accounts/{{ $json.id }}/refresh-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "X-Tenant-Id", "value": "={{ $json.tenantId }}" }
          ]
        }
      },
      "id": "refresh",
      "name": "Refresh Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"refreshed\": true }"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Token Refresh Webhook": { "main": [[{ "node": "Fetch Expiring Accounts", "type": "main", "index": 0 }]] },
    "Fetch Expiring Accounts": { "main": [[{ "node": "Loop Accounts", "type": "main", "index": 0 }]] },
    "Loop Accounts": { "main": [[{ "node": "Refresh Token", "type": "main", "index": 0 }]] },
    "Refresh Token": { "main": [[{ "node": "Loop Accounts", "type": "main", "index": 0 }, { "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "autobot360" }, { "name": "tokens" }]
}
