n8n/workflows/whatsapp-notification.json
{
  "name": "AutoBot360 - WhatsApp Notification",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.customerPhone }}\", \"type\": \"template\", \"template\": { \"name\": \"{{ $json.templateName || 'order_confirmed' }}\", \"language\": { \"code\": \"en\" } } }"
      },
      "id": "send-wa",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/internal/whatsapp-logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "X-Tenant-Id", "value": "={{ $('Execute Workflow Trigger').item.json.tenantId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ orderId: $('Execute Workflow Trigger').item.json.orderId, status: 'sent', response: $json }) }}"
      },
      "id": "log",
      "name": "Log WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp": { "main": [[{ "node": "Log WhatsApp", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "autobot360" }, { "name": "sub-workflow" }]
}
