.migration-backup/n8n/workflows/order-creation.json
{
  "name": "AutoBot360 - Order Creation",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "order-creation", "responseMode": "responseNode" },
      "id": "webhook",
      "name": "Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "order-creation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/internal/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Api-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "X-Tenant-Id", "value": "={{ $json.body.tenantId }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body.payload) }}"
      },
      "id": "create-order",
      "name": "Create Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": { "workflowId": "={{ $env.WHATSAPP_WORKFLOW_ID }}" },
      "id": "whatsapp",
      "name": "WhatsApp Notify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [690, 200]
    },
    {
      "parameters": { "workflowId": "={{ $env.EMAIL_WORKFLOW_ID }}" },
      "id": "email",
      "name": "Email Notify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [690, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"orderId\": \"{{ $json.orderId }}\" }"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Order Webhook": { "main": [[{ "node": "Create Order", "type": "main", "index": 0 }]] },
    "Create Order": { "main": [[{ "node": "WhatsApp Notify", "type": "main", "index": 0 }, { "node": "Email Notify", "type": "main", "index": 0 }]] },
    "WhatsApp Notify": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Email Notify": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "autobot360" }, { "name": "orders" }]
}
